<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato|Shadows+Into+Light" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="static/themes/aboutus.css">
  </head>

    <header>
    <div class='heady'>
      <h1>Welcome to MEX: The best recipe sharing website</h1>
      <br>
    <!--  <h2 class='spacer'> The best recipe sharing website</h2> -->
      <a class="navlinks" href="/myhome">Home</a>
      <a class="navlinks" href="/aboutus">About Us</a>
      <a class="navlinks" href="/myprofile">Profile</a>
      <a class="navlinks" href="/myfeed">Feed</a>
        <a class="navlinks" href="{{logout_url}}">Sign out</a>
      </div>
    </header>
    </div>
    <body>




  </body>
</html>
