<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato|Shadows+Into+Light" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="static/themes/aboutus.css">
  </head>

    <header>
    <div class='heady'>
      <h1>Welcome to MEX: The best recipe sharing website</h1>
      <br>
    <!--  <h2 class='spacer'> The best recipe sharing website</h2> -->
    {% if user %}
      <a class="navlinks" href="/myhome">Home</a>
      <a class="navlinks" href="/aboutus">About Us</a>
      <a class="navlinks" href="/myprofile">Profile</a>
      <a class="navlinks" href="/myfeed">Feed</a>
        <a class="navlinks" href="{{logout_url}}">Sign out</a>
    {% else %}
      <a class="navlinks" href="/">Back to Homepage</a>
    {% endif %}
      </div>
    </header>
    <body>
    <div class="maincontent">
      <div class="maintext">
      <h3>Making cooking easier and more enjoyable.<br>
      One user at a time.</h3>
        <p class="content">We know how tricky it is to manage all of your recipes.
          That why we're here to do the work for you.
          With MEX, recipe organization is right at your fingertips.
          Just enter your recipes and we'll keep track of them for you
          on your personal profile.
          By posting your recipes on MEX, you can also share them with all of your friends!</p>
        <h4>It's cooking with recipes in its most relaxed form. <br>
          Join us to start today.</h4>
      </div>
    </div>





  </body>
</html>
