<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato|Shadows+Into+Light" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="/Users/demouser/MEX/static/themes/myprofilestyle.css">
  </head>
  <body>
    <div class='heady'>
      <h1>Welcome to MEX: The best recipe sharing website</h1>

      <a class="navlinks" href="/myhome">Home</a>
      <a class="navlinks" href="/aboutus">About Us</a>
      <a class="navlinks" href="google.com">Profile</a>
      <a class="navlinks" href="google.com">Feed</a>
      <br>
        <a href="{{logout_url}}">Sign out</a>
    </div>

    <div class='profileHeader'>
      <div class='picetbio'></div>
      <div class='postwork'></div>




    </div>



  </body>
</html>
