<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">
  </head>

  <body>
    <h1> Welcome to MEX</h1>
    <h2> The best recipe sharing website</h2>
    <form method="post">
      <!-- Input for "tweet" -->
      <h3> Username:</h3>
      <input type="text" name=>
      <br>
      <h3> Password: </h3>
      <input type='text' name=/>

      </br>
      <!-- Submit button -->
      <button type="submit">Log in</button>
    </form>
  </body>
</html>
