<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MEX</title>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" href="/static/themes/design.css">

  <body>

    <div class='heady'>
      <h1>Welcome to MEX</h1>
      <h2 class='spacer'> The best recipe sharing website</h2>

    </div>

    <div class='container'>
      <img class='slides' src='/static/themes/food.jpg'>
      <img class='slides' src='/static/themes/food4.jpg'>
      <img class='slides' src='/static/themes/food5.jpg'>
      <div class='loginbox'>
        {% if user %}
          <br>
          <button class='buttonete'>
          <a href="{{logout_url}}">Sign out</a>
          </button>
          {% else %}
          <button class='buttonete'>
          <a href="{{login_url}}">Sign in</a>
          </button>
          {% endif %}
      </div>
    </div>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <script src="static/scripts/recipe.js"></script>


  </body>
</html>
