<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="/Users/demouser/MEX/static/themes/design.css">
  </head>

  <body>
    <div>
      {% if user %}
        <h1>Welcome {{nickname}}</h1>
        <br>
        <a href="{{logout_url}}">Sign out</a>
        {% else %}
        <a href="{{login_url}}">Sign in</a>
        {% endif %}
    </div>


    <h1> Welcome to MEX</h1>
    <h2> The best recipe sharing website</h2>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <form method="post">


  </body>
</html>
