.heady {
  background-color: #ff1919;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}
.buttonete {

}

html, body {
  margin: 0;
  padding: 0;
=======

>>>>>>> 222d18a36ed4d0e14075e7900cf0e8a6ad7ba8a0
}

/* body {
  background-image: url("/static/themes/food.jpg");
  background-position: center;
  background-attachment: fixed;
}
/*
