.heady {
  background-color: #ff1919;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#about_us_link {
  font-size: 30px;
}

.container {
  position: relative;
  text-align: center;

}

.loginbox {
  position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    background-color: #ff1919;
    border-radius: 100px;

}

.buttonete {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #ffdead;
}


.slides {
  margin: 0 auto;
  width: 1450px;
  height: 750px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
