.heady {
  background-color: #ff1919;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  /* font-family: 'Helvetica', cursive; */

>>>>>>> 222d18a36ed4d0e14075e7900cf0e8a6ad7ba8a0
}

html {
  background: url(food.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.heady .navlinks {
/* Main axis is horizontal */
  justify-content: flex-end;
}
